src/flows/Create_Request-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CheckCount</name>
        <label>CheckCount</label>
        <locationX>360</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>vCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Exception</name>
        <label>Exception</label>
        <locationX>776</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>vNull</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsRequestCountOne</name>
        <label>IsRequestCountOne</label>
        <locationX>587</locationX>
        <locationY>233</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRequest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exception</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Based on the values passed from PBs this flow creates a request</description>
    <interviewLabel>Create Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Request</label>
    <loops>
        <name>LoopRequests</name>
        <label>LoopRequests</label>
        <locationX>361</locationX>
        <locationY>235</locationY>
        <assignNextValueToReference>LoopVariable</assignNextValueToReference>
        <collectionReference>vRequestsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsRequestCountOne</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateRequest</name>
        <label>CreateRequest</label>
        <locationX>592</locationX>
        <locationY>397</locationY>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>vApplication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>vRequestSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>LookupRequests</name>
        <label>LookupRequests</label>
        <locationX>360</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRequests</targetReference>
        </connector>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vApplication</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRequestRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vRequestsCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>LookupRequests</startElementReference>
    <variables>
        <name>LoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>vNull</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequestRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequestsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vRequestSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
