src/flows/EBC_RollUpSummary-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assigmCalcAmount</name>
        <label>assigmCalcAmount</label>
        <locationX>401</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>varEBCRequestedTotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjChildEBCSinglerecord.Requested_Total_Amount_5_Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEBCFundedTotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjChildEBCSinglerecord.Funded_Total_Amount_5_Years__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopChildEBCRecords</targetReference>
        </connector>
    </assignments>
    <interviewLabel>EBC_RollUpSummary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EBC_RollUpSummary</label>
    <loops>
        <name>loopChildEBCRecords</name>
        <label>loopChildEBCRecords</label>
        <locationX>98</locationX>
        <locationY>225</locationY>
        <assignNextValueToReference>sobjChildEBCSinglerecord</assignNextValueToReference>
        <collectionReference>socChildEBCRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assigmCalcAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateParentEBC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>EBCLookupEBCChildRecords</name>
        <label>EBCLookupEBCChildRecords</label>
        <locationX>90</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopChildEBCRecords</targetReference>
        </connector>
        <filters>
            <field>Investment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentEBCId</elementReference>
            </value>
        </filters>
        <object>Executive_Business_Case__c</object>
        <outputReference>socChildEBCRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Investment_Name__c</queriedFields>
        <queriedFields>Requested_Total_Amount_5_Years__c</queriedFields>
        <queriedFields>Funded_Total_Amount_5_Years__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateParentEBC</name>
        <label>updateParentEBC</label>
        <locationX>104</locationX>
        <locationY>390</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentEBCId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Fund_Amt_of_Amendment_Enhancements__c</field>
            <value>
                <elementReference>varEBCFundedTotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Req_Amt_of_Amendments_Enhancements__c</field>
            <value>
                <elementReference>varEBCRequestedTotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Business_Case__c</object>
    </recordUpdates>
    <startElementReference>EBCLookupEBCChildRecords</startElementReference>
    <variables>
        <name>sobjChildEBCSinglerecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Business_Case__c</objectType>
    </variables>
    <variables>
        <description>collection of child records</description>
        <name>socChildEBCRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Executive_Business_Case__c</objectType>
    </variables>
    <variables>
        <description>variable to hold total funded amount of all child records</description>
        <name>varEBCFundedTotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>variable to hold total requested amount of all child records</description>
        <name>varEBCRequestedTotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>variable to hold the parent EBC record id</description>
        <name>varParentEBCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
