src/flows/initiate_disbursement_action-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>check if there are any open disbursement cases on the loan</description>
        <name>Open_Disbursement_Cases_Found</name>
        <label>Open Disbursement Cases Found?</label>
        <locationX>429</locationX>
        <locationY>185</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_or_No_Disbursement_Cases_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opendisbursementcases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_loan2</targetReference>
            </connector>
            <label>Closed or No Disbursement Cases Found</label>
        </rules>
    </decisions>
    <interviewLabel>{!currentloan.Id}</interviewLabel>
    <label>initiate disbursement action</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_disbursement_open_cases</name>
        <label>get disbursement open cases</label>
        <locationX>258</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Disbursement_Cases_Found</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentloan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DisbursementIssuesRT.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>opendisbursementcases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_recordtype_id_of_disbursement_issues_case</name>
        <label>get recordtype id of disbursement issues case</label>
        <locationX>72</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_disbursement_open_cases</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disbursement_Issues</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>DisbursementIssuesRT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_loan2</name>
        <label>update loan</label>
        <locationX>428</locationX>
        <locationY>375</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentloan.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Run_Disbursement_Interface__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Interface Data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_PB_for_Initiate_Disbursement__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <startElementReference>get_recordtype_id_of_disbursement_issues_case</startElementReference>
    <variables>
        <name>currentloan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>Disbursement_Issues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Disbursement_Issues</stringValue>
        </value>
    </variables>
    <variables>
        <name>DisbursementIssuesRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>opendisbursementcases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
