src/flows/initiate_disbursement_action-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>cases_not_empty</name>
        <label>cases not empty</label>
        <locationX>276</locationX>
        <locationY>82</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>closed_disbursement_cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>disbursementcases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_loan2</targetReference>
            </connector>
            <label>closed disbursement cases</label>
        </rules>
    </decisions>
    <interviewLabel>{!currentloan.Id}</interviewLabel>
    <label>initiate disbursement action</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_cases</name>
        <label>get cases</label>
        <locationX>103</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cases_not_empty</targetReference>
        </connector>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentloan.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DisbursementIssues.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>disbursementcases</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_recordtype_id_of_disbursement_issues_case</name>
        <label>get recordtype id of disbursement issues case</label>
        <locationX>93</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_cases</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disbursement_Issues</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>DisbursementIssues</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_loan2</name>
        <label>update loan</label>
        <locationX>285</locationX>
        <locationY>197</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentloan.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Run_Disbursement_Interface__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Interface Data</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_PB_for_Initiate_Disbursement__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordUpdates>
    <startElementReference>get_recordtype_id_of_disbursement_issues_case</startElementReference>
    <variables>
        <name>currentloan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loan__c</objectType>
    </variables>
    <variables>
        <name>Disbursement_Issues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Disbursement_Issues</stringValue>
        </value>
    </variables>
    <variables>
        <name>disbursementcases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>DisbursementIssues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
