src/flows/P360_Flow_RequestConversionToEBC-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>P360 - This flow creates an EBC record (custom object: Executive_Business_Case__c) of record type &apos;Concept Initial&apos; from the request record (custom object: P360_Request__c). After creating the EBC, update the &apos;EBC&apos; custom field (lookup to EBC object) on request to the newly created EBC.</description>
    <interviewLabel>P360-Flow-RequestConversionToEBC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>P360-Flow-RequestConversionToEBC</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create an (Executive_Business_Case__c) record of Record Type &apos;Concept Initial&apos; using the fields from the Request record. Store the Salesforce ID of this newly created EBC in a variable that will be used to update the Request record later in the flow.</description>
        <name>CreateEBC</name>
        <label>CreateEBC</label>
        <locationX>447</locationX>
        <locationY>256</locationY>
        <assignRecordIdToReference>newEBC</assignRecordIdToReference>
        <connector>
            <targetReference>Request</targetReference>
        </connector>
        <inputAssignments>
            <field>ConvertedFromRequest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executive_Sponsor_Delegate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>thisRequest.EBC_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>conceptInitial.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Executive_Business_Case__c</object>
    </recordCreates>
    <recordLookups>
        <description>Search &apos;RecordType&apos; standard object and get the RecordTypeId for &apos;&apos;Concept Initial&apos; Record Type in EBC (Executive_Business_Case__c) custom object.</description>
        <name>GetRecordTypeID</name>
        <label>GetRecordTypeID</label>
        <locationX>267</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateEBC</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Concept Initial</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executive_Business_Case__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>conceptInitial</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Search the Request (P360_Request__c) custom object where Id is the current Request record that needs to be converted into a new &apos;Concept Initial&apos; EBC (Executive_Business_Case__c Custom Object). The fields returned will be used to create the EBC record in the next step.</description>
        <name>GetRequestFields</name>
        <label>GetRequestFields</label>
        <locationX>103</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisRequest.Id</elementReference>
            </value>
        </filters>
        <object>P360_Request__c</object>
        <outputReference>requestFields</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update the Request record that led to EBC creation with the lookup field populated with the converted EBC Id.</description>
        <name>Request</name>
        <label>Request</label>
        <locationX>629</locationX>
        <locationY>256</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EBC_Title__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExecutiveBusinessCase__c</field>
            <value>
                <elementReference>newEBC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isConvertedtoEBC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>P360_Request__c</object>
    </recordUpdates>
    <startElementReference>GetRequestFields</startElementReference>
    <variables>
        <description>This is the variable that stores RecordTypeId of &apos;Concept Initial&apos; Record Type for EBC (Executive_Business_Case__c) Custom Object</description>
        <name>conceptInitial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>This is the newly created EBC record</description>
        <name>newEBC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>P360 - This variable will be used to store values from the current Request record such as &apos;Project Title&apos; etc.</description>
        <name>requestFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>P360_Request__c</objectType>
    </variables>
    <variables>
        <description>Variable for current Request record</description>
        <name>thisRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>P360_Request__c</objectType>
    </variables>
</Flow>
