src/flows/P360_Flow_RequestConversionToProject-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>P360 - This flow creates a project record (custom object: GPM_Project__c) of record type &apos;Corporate IT Services&apos; from the request record (custom object: P360_Request__c). After creating the project, updates the &apos;Project&apos; custom field (lookup to project) on request to the newly created project.</description>
    <interviewLabel>P360-Flow-RequestConversionToProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>P360-Flow-RequestConversionToProject</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a Project (GPM_Project__c) record of Record Type &apos;Corporate IT Services&apos; using the fields from the Request record. Store the Salesforce ID of this newly created project in a variable that will be used to update the Request record later in the flow.</description>
        <name>CreateCorporateITServicesProject</name>
        <label>CreateCorporateITServicesProject</label>
        <locationX>507</locationX>
        <locationY>253</locationY>
        <assignRecordIdToReference>NewProject</assignRecordIdToReference>
        <connector>
            <targetReference>Request</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationText__c</field>
            <value>
                <elementReference>RequestFields.ApplicationText__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budgeted_Amount__c</field>
            <value>
                <elementReference>RequestFields.Costs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConvertedFromRequest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RequestFields.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>RequestFields.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Description__c</field>
            <value>
                <elementReference>RequestFields.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Sponsor__c</field>
            <value>
                <elementReference>RequestFields.ProjectSponsor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CorporateProjectRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Initiating</stringValue>
            </value>
        </inputAssignments>
        <object>GPM_Project__c</object>
    </recordCreates>
    <recordLookups>
        <description>Search &apos;RecordType&apos; standard object and get the RecordTypeId for &apos;&apos;Corporate IT Service&apos;&apos; Record Type in Project (GPM_Project__c) custom object.</description>
        <name>GetRecordTypeID</name>
        <label>GetRecordTypeID</label>
        <locationX>321</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCorporateITServicesProject</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate IT Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GPM_Project__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CorporateProjectRecordTypeID</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Search the Request (P360_Request__c) custom object where Id is the current Request record that needs to be converted into a new &apos;Corporate IT Services&apos; Project (GPM_Project__c Custom Object). The fields returned will be used to create the Project record in the next step.</description>
        <name>GetRequestFields</name>
        <label>GetRequestFields</label>
        <locationX>103</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisRequest.Id</elementReference>
            </value>
        </filters>
        <object>P360_Request__c</object>
        <outputReference>RequestFields</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>IsConverted__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ProjectSponsor__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Costs__c</queriedFields>
        <queriedFields>ApplicationText__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update the Request record that led to project creation with the lookup field populated with the converted project Id.</description>
        <name>Request</name>
        <label>Request</label>
        <locationX>732</locationX>
        <locationY>252</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsConverted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>NewProject</elementReference>
            </value>
        </inputAssignments>
        <object>P360_Request__c</object>
    </recordUpdates>
    <startElementReference>GetRequestFields</startElementReference>
    <variables>
        <description>This is the variable stores RecordTypeId of &apos;Corporate IT Services&apos; Record Type for Project (GPM_Project__c) Custom Object</description>
        <name>CorporateProjectRecordTypeID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>This is the newly created Project record</description>
        <name>NewProject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>P360 - This variable will be used to store values from the current Request record such as &apos;Project Title&apos; etc.</description>
        <name>RequestFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>P360_Request__c</objectType>
    </variables>
    <variables>
        <description>Variable for current Request record</description>
        <name>thisRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>P360_Request__c</objectType>
    </variables>
</Flow>
