src/flows/Update_Request_with_new_Loan-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>EndOfLoop</name>
        <label>EndOfLoop</label>
        <locationX>752</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>Null</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Null</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AreChecklistItemsNull</name>
        <label>AreChecklistItemsNull</label>
        <locationX>513</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vChecklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopChecklistItems</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vChecklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>Updates Request with the new Loan that is created</description>
    <interviewLabel>Update Request with new Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Request with new Loan</label>
    <loops>
        <name>LoopChecklistItems</name>
        <label>LoopChecklistItems</label>
        <locationX>531</locationX>
        <locationY>427</locationY>
        <assignNextValueToReference>vLoopVariable</assignNextValueToReference>
        <collectionReference>vChecklist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateChecklistItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EndOfLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FastLookupChecklist</name>
        <label>FastLookupChecklist</label>
        <locationX>518</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AreChecklistItemsNull</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRequest</elementReference>
            </value>
        </filters>
        <object>Checklist_Item__c</object>
        <outputReference>vChecklist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Loan__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupLoan</name>
        <label>LookupLoan</label>
        <locationX>147</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupRequest</targetReference>
        </connector>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vApplication</elementReference>
            </value>
        </filters>
        <object>Loan__c</object>
        <outputAssignments>
            <assignToReference>vLoan</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRequest</name>
        <label>LookupRequest</label>
        <locationX>318</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RequestUpdate</targetReference>
        </connector>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vApplication</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRequestRecordType</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vRequest</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>RequestUpdate</name>
        <label>RequestUpdate</label>
        <locationX>516</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>FastLookupChecklist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRequest</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan__c</field>
            <value>
                <elementReference>vLoan</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateChecklistItem</name>
        <label>UpdateChecklistItem</label>
        <locationX>540</locationX>
        <locationY>564</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLoopVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan__c</field>
            <value>
                <elementReference>vLoan</elementReference>
            </value>
        </inputAssignments>
        <object>Checklist_Item__c</object>
    </recordUpdates>
    <startElementReference>LookupLoan</startElementReference>
    <variables>
        <name>Null</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checklist_Item__c</objectType>
    </variables>
    <variables>
        <name>vLoan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checklist_Item__c</objectType>
    </variables>
    <variables>
        <name>vRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequestRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
