src/flows/Update_Commitment_Closing_Request_Owner-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>NullException</name>
        <label>NullException</label>
        <locationX>61</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>vNull</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRequest</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>NullException1</name>
        <label>NullException</label>
        <locationX>757</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>vNull</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRequest</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Commitment_Closing</name>
        <label>Commitment/Closing</label>
        <locationX>443</locationX>
        <locationY>209</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Commitment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProceedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commitment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNotNull</targetReference>
            </connector>
            <label>Commitment</label>
        </rules>
        <rules>
            <name>Closing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vProceedTo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNotNull1</targetReference>
            </connector>
            <label>Closing</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNotNull</name>
        <label>IsNotNull</label>
        <locationX>253</locationX>
        <locationY>414</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRequests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestOwner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRequests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NullException</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNotNull1</name>
        <label>IsNotNull</label>
        <locationX>565</locationX>
        <locationY>404</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRequests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestOwnerClosingQueue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRequests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NullException1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Updates the Owner of a Commitment or Closing Request based on the &apos;Proceed To&apos; field update on the Application</description>
    <interviewLabel>Update Commitment/Closing Request Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Commitment/Closing Request Owner</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupRequests</name>
        <label>LookupRequests</label>
        <locationX>429</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Commitment_Closing</targetReference>
        </connector>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vApplication</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vRequests</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequestOwner</name>
        <label>UpdateRequestOwner</label>
        <locationX>262</locationX>
        <locationY>537</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookupRequests</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>$Setup.Process_Builders_Queues__c.Commitment_Request_Record_Type__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>$Setup.Process_Builders_Queues__c.Commitment_Queue_ID__c</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestOwnerClosingQueue</name>
        <label>UpdateRequestOwnerClosingQueue</label>
        <locationX>559</locationX>
        <locationY>533</locationY>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>$Setup.Process_Builder_Queues.Closing_doc_record_type__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>$Setup.Process_Builder_Queues.Senior_Case_Manager_Queue__c</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>LookupRequests</startElementReference>
    <variables>
        <name>vApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNull</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProceedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
