src/flows/Update_Commitment_Closing_Request_Owner-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>NullException</name>
        <label>NullException</label>
        <locationX>523</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>vRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNull</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>vRequestIsNotNull</name>
        <label>vRequestIsNotNull</label>
        <locationX>334</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRequest</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestOwner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NullException</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Updates the Owner of a Commitment or Closing Request based on the &apos;Proceed To&apos; field update on the Application</description>
    <interviewLabel>Update Commitment/Closing Request Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Commitment/Closing Request Owner</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupRequest</name>
        <label>LookupRequest</label>
        <locationX>368</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>vRequestIsNotNull</targetReference>
        </connector>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vApplication</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRequestRecordType</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>vRequest</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequestOwner</name>
        <label>UpdateRequestOwner</label>
        <locationX>284</locationX>
        <locationY>368</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRequest</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vRequestQueue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>LookupRequest</startElementReference>
    <variables>
        <name>vApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNull</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProceedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequestQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequestRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
